:root {
  --main-background-color: #191919;
  --second-background-color: #000;
  --third-background-color: #118da8;
  --main-text-color: #fff;
  --second-text-color: rgba(255, 255, 255, 0.7);
  --third-text-color: #118da8;
  --color-illumination: #ffee10;

  font-family: "DM Sans", sans-serif;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header start */

.header {
  margin: 26px 0;
}

.header__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
  }
}

.header__logo {
  padding-right: 10%;
}

@media (max-width: 768px) {
  .header__logo {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .header__logo img {
    width: 125px;
  }
}

.header-menu__list {
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
  .header-menu__list {
    margin-top: 20px;
    gap: 10px;
  }
}

.menu__link {
  color: var(--main-text-color);
  font-size: 17px;
  line-height: 158.824%;
}

.menu__link:hover {
  -webkit-text-stroke: 0.5px var(--main-text-color);
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .menu__link {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .menu__link {
    font-size: 18px;
  }
}

.menu__link_active {
  color: var(--third-text-color);
}

/* header end */

/* main-block start */

/* .main-block__container {
  max-width: 1340px;
  max-width: var(--desktop);

  margin: 0 auto;
} */

.main-block__content {
  display: flex;
  align-items: center;
  /*  justify-content: space-between; */
  align-items: center;
  gap: 60px;
}

/* .main-block__img {
  max-width: 676px;
} */

.img__main {
  position: relative;
  border-radius: 12px;
  padding-left: 26px;
  padding-top: 26px;
}

@media (max-width: 1240px) {
  .img__main img {
    width: 40vw;
  }
}

.img__second {
  position: absolute;
  width: 68px;
  height: 74px;
  z-index: 2;
}

@media (max-width: 768px) {
  .main-block__img {
    display: none;
  }
}

.main-block__title {
  margin-bottom: 90px;
}

.main-block__title p {
  max-width: 526px;
  font-size: 70px;
  line-height: 125.714%;
  letter-spacing: 3.2px;
}

@media (max-width: 1024px) {
  .main-block__title p {
    font-size: 58px;
    line-height: 100%;
  }

  .main-block__img {
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .main-block__title p {
    font-size: 70px;
    line-height: 125.714%;
  }
}

@media (max-width: 425px) {
  .main-block__title p {
    font-size: 58px;
    line-height: 100%;
  }
}

.main-block__title .blue-underline {
  background-image: url("/assets/icons/blue-underline.svg");
  background-size: cover;
}

.main-block__info {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .main-block__info {
    margin: 50px auto;
    text-align: center;
  }

  .main-block__listen-app {
    margin: 0 auto;
  }
}

.main-block__listen-app p {
  margin-bottom: 16px;
}

.app__list {
  display: flex;
  gap: 17px;
}

/* main-block end */

/* episodes start */

.episodes {
  padding: 93px 0 160px;
}

@media (max-width: 768px) {
  .episodes {
    padding: 53px 0 160px;
  }
}

.episodes__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .episodes__header {
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
  }
}

.episodes__header h2 {
  font-size: 64px;
  line-height: 123.75%;
  letter-spacing: 2.88px;
}

@media (max-width: 768px) {
  .episodes__header h2 {
    font-size: 48px;
    line-height: 100%;
  }
}

.button {
  width: max-content;
  border-radius: 6px;
  border: none;
  background: var(--third-background-color);
  color: var(--main-text-color);
  font-size: 17px;
  line-height: 158.824%;
  padding: 12px 15px 12px 20px;
}

.button:active {
  background-color: var(--second-background-color);
  border: 1px solid var(--second-text-color);
}

.episodes__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px;
}

.episodes__item {
  display: flex;
  align-items: center;
  border-radius: 32px;
  background: var(--second-background-color);
}

@media (max-width: 768px) {
  .episodes__item {
    flex-direction: column;
  }
}

.episodes__img {
  width: 389px;
  height: 465px;
  padding: 40px;
}

@media (max-width: 768px) {
  .episodes__img,
  .episodes__img img {
    width: 289px;
    height: 365px;
    padding: 40px 0;
  }
}

@media (max-width: 320px) {
  .episodes__img,
  .episodes__img img {
    width: 224px;
    height: 300px;
  }
}

.episodes__info {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

@media (max-width: 768px) {
  .episodes__info * {
    margin: 0 auto;
    text-align: center;
  }
}

.episodes__tag {
  width: max-content;
  border-radius: 6px;
  background: var(--main-background-color);
  padding: 4px 16px;
}

.episodes__tag a {
  color: var(--main-text-color);
}

.episodes__number {
  font-size: 17px;
  line-height: 158.824%;
  color: var(--third-text-color);

  margin: 48px 0 18px;
}

.episodes__heading {
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 2.56px;
}

@media (max-width: 1024px) {
  .episodes__heading {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .episodes__heading {
    font-size: 32px;
    letter-spacing: 0;
  }
}

@media (max-width: 375px) {
  .episodes__heading {
    font-size: 20px;
  }
}

.episodes__description {
  font-size: 22px;
  line-height: 150%;
  color: var(--second-text-color);

  margin: 28px 0 18px;
}

@media (max-width: 768px) {
  .episodes__description {
    font-size: 15px;
  }
}

/* episodes end */

/* host start */

.host {
  padding: 100px 50px;
}

@media (max-width: 768px) {
  .host {
    padding: 50px 0;
  }
}

.host__container {
  display: flex;
  align-items: center;
  gap: 60px;
}

.host__info {
  padding: 148px 0;
}

@media (max-width: 768px) {
  .host__info {
    text-align: center;
    padding: 0 50px;
  }
}

@media (max-width: 425px) {
  .host__info {
    padding: 0;
  }
}

.host__button {
  width: 112px;
  height: 112px;
  border-radius: 400px;
  background-image: url(/assets/icons/button-arrow-right.png);
  background-size: cover;
  border: none;
  transition: 0.3s;
}

.host__button:active {
  box-shadow: 0 0 40px var(--third-background-color);
}

@media (max-width: 768px) {
  .host__button {
    width: 80px;
    height: 80px;
  }
}

.host__add-info {
  margin-top: 20px;
  color: var(--third-text-color);
  font-size: 18px;
  line-height: 150%;
}

.host__name {
  margin-top: 0;
  font-size: 65px;
  line-height: 121.846%;
  letter-spacing: 2.88px;
}

@media (max-width: 375px) {
  .host__name {
    font-size: 55px;
    letter-spacing: 0;
  }
}

.host__text {
  color: var(--second-text-color);
  font-size: 22px;
  line-height: 150%;
}

.host__text :first-child {
  margin-bottom: 33px;
}

@media (max-width: 1024px) {
  .host__text {
    font-size: 18px;
  }
}

div[class^="host__img"] {
  max-width: 650px;
}

div[class^="host__img"] img {
  border-radius: 12px;
}

.host__img_small-screen {
  display: none;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  div[class^="host__img"] img {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .host__img_big-screen {
    display: none;
  }
}

@media (width <= 768px) {
  .host__img_small-screen {
    display: block;
    margin-bottom: 30px;
  }
}

/* host end */

/* subscription start */

.subscription {
  padding: 100px 0;
}

.subscription > .container {
  max-width: 1400px;
}

.subscription__container {
  position: relative;
  max-width: 1180px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  height: 387px;
  padding: 60px 60px 0 60px;
  background: var(--second-background-color);
  border-radius: 32px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .subscription__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.blue-rays {
  position: absolute;
  padding-top: 387px;
  padding-left: 10px;
  width: 147px;
  height: 91px;
  z-index: 2;
}

@media (max-width: 1024px) {
  .blue-rays {
    display: none;
  }
}

.explanation {
  color: var(--third-text-color);
  font-size: 18px;
  line-height: 150%;
}

.title {
  max-width: 431px;
  color: var(--main-text-color);
  font-size: 72px;
  line-height: 110%;
  letter-spacing: 2.88px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 60px;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.subscription form {
  display: flex;
  flex-direction: column;
}

.subscription form input {
  width: 522px;
  height: 82px;
  background: var(--main-background-color);
  color: var(--second-text-color);
  font-size: 24px;
  line-height: 120%;
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 0 19px;
}

@media (max-width: 768px) {
  .subscription form input {
    width: 322px;
    height: 52px;
  }
}

@media (max-width: 425px) {
  .subscription form input {
    width: 222px;
    height: 42px;
  }
}

input#email {
  margin: 20px 0;
}

@media (max-width: 768px) {
  form button {
    margin: 0 auto;
  }
}

/* subscription end */

/* feedback start */

.feedback {
  padding: 100px 0;
}

.feedback__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 423px));
  grid-gap: 16px;
  justify-content: center;
}

@media (max-width: 768px) {
  .feedback__cards {
    grid-template-columns: repeat(auto-fill, 300px);
  }
}

@media (max-width: 425px) {
  .feedback__cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 423px));
  }
}

.feedback__card {
  background: var(--second-background-color);
  padding: 54px 54px 51px 50px;
  border-radius: 32px;
  transition: 0.5s;
}

.feedback__card:hover {
  color: var(--color-illumination);
  box-shadow: 0 0 15px var(--color-illumination);
}

@media (max-width: 768px) {
  .feedback__card {
    padding: 34px 34px 31px 30px;
  }
}

.feedback__comment {
  margin: 21px 0 19px;
  font-size: 36px;
  line-height: 120%;
}

@media (max-width: 768px) {
  .feedback__comment {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .feedback__comment {
    font-size: 24px;
  }
}

.feedback__person-name {
  font-size: 24px;
  line-height: 120%;
  color: var(--second-text-color);
}

@media (max-width: 425px) {
  .feedback__person-name {
    font-size: 18px;
  }
}

/* feedback end */

/* footer start */

.footer {
  padding: 100px 0;
}

.footer__content {
  display: flex;
  gap: 16px;
  padding: 0 50px;
}

@media (max-width: 768px) {
  .footer__content {
    padding: 0 30px;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }

  .footer__content * {
    margin: 0 auto;
    text-align: center;
  }
}

.footer__logo-social-icons,
.footer__content > .listen-app__app {
  width: 447px;
}

@media (max-width: 768px) {
  .footer__logo-social-icons,
  .footer__content > .listen-app__app {
    width: min-content;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .footer__logo {
    width: min-content;
    margin: 0 auto;
  }
}

.footer__social-icons {
  display: flex;
  gap: 10px;
}

.social-icons__item {
  display: inline;
  margin-top: 20px;
}

.footer__menu {
  display: flex;
  gap: 120px;
}

@media (max-width: 768px) {
  .footer__menu {
    gap: 40px;
    flex-wrap: wrap;
  }
}

.footer__main-menu,
.footer__second-menu {
  max-width: 179px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .footer__main-menu {
    margin-bottom: 60px;
  }
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .footer-menu__list {
    gap: 30px;
  }

  .footer-menu__item > .menu__link {
    line-height: 100%;
  }
}

/* footer end */
